:root {
    --color-primary-dark: #102a5b;
    --color-secondary-dark: #5d271b;
    --color-primary-light: #a7abb5;
    --color-white: #ffffff;
    --color-black: #000000;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* Changing the font size here will change the sizing of all rem units */
    font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5 */
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-black);
    background-color: var(--color-white);
    min-height: 100vh;
    /* Box sizing is inherited above */
    box-sizing: border-box;
}